@font-face{
	font-family: "3x3dots";
	src: url("../fonts/3x3dots.ttf") format("truetype");
}

@media (min-width: 320px){
	.header{
		height: 6.5em;
		z-index: 3;
		position: fixed;
		top: 0;
		width: 100%;
		background-color: #F8F5F5;
	}
	.logo{
		width: 20em;
	}

	.menu-button{
		margin: 20px 0px 0px 20px;	
		font-size: 5em;
		color: #F0AF1B 	;
		font-family: "3x3dots";
	}

	.menu-active .mobile-menu{
		left: 0px;
	}

	.menu-active:after{
		content: "";
		display: block;

		z-index: 1;
		position: fixed;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;

		background: rgba(0,0,0, 0.3);
	}


	.menu-side-pattern{
	    background-image: url("../images/side-wave-pattern.png");
	    background-repeat: repeat-y;
		float: left;

 	    width: 3.2em;
	    height: 100%;
	}

	.mobile-menu-navigation{
		padding-top: 6.5em; /*same as header-height*/
		float: left;
	}

	.mobile-menu-navigation > ul{
		list-style: none;
	}
	

	.mobile-menu-navigation > ul > li{
		list-style: none;
		padding-top: 30px;
	}

	.mobile-menu-item{
		font-style: normal;
		font-family: 'futura-bk', sans-serif;
		font-size: 1.8em;

		text-transform: uppercase;
		color: #BCD0C2;
	}
	.mobile-menu-contact{
		float: left;
		margin-left: 70px;
		width: 270px;
		position: fixed;
		padding-bottom: 20px;
		bottom: 0px
	}

	.social-icon{
		display: inline-block;
		width: 3.5em;
		margin-left: 20px;
		margin-bottom: 10px;
	}
	.social-networks{
		width: 320px;
		margin: 0 auto;
	}

	.mobile-menu-email{
		font-style: normal;
		font-weight: bold;
		font-family: 'futura-bk', sans-serif;
		font-size: 1.1em;
		color: #BCD0C2;

	}

}

@media not all and (max-width: 480px){
	.menu-open, 
	.menu-close {
		display: none;
	}
}


/* Desktop */
.header{
	background-color: transparent;
	width: 60%;
	float: right;
	position: static;
}


.logo{
	float: right;
	width: 18em;
}


.mobile-menu{
	background: #FBFBFB;

	height: 100%;
	width: 90%; /*same as left*/
	max-width: 405px;
	
	position: fixed;
	z-index: 2;
	top: 0px;
	left: -90%; /*same as width*/


	transition: left 0.3s ease-out;
}