.portfolio-project-placeholder{
	width: 350px;
	display: block;
	margin: 20px auto 0px;
}	

.portfolio-title{
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Didact Gothic', sans-serif;
}	

.portfolio{
	padding-top: 6.5em; /*same as header-height*/
}

