

.mobile-menu{
	background: #FBFBFB;

	height: 100%;
	width: 90%; /*same as left*/
	max-width: 405px;
	
	position: fixed;
	z-index: 2;
	top: 0px;
	left: -90%; /*same as width*/


	transition: left 0.3s ease-out;
}



@media(min-width: 320px){
	.menu{
		display: none;
	}
	.header{
		height: 6.5em;
		z-index: 3;
		position: fixed;
		top: 0;
		width: 100%;
		background-color: #F8F5F5;
		transition: background 1s ease-out;
	}
	.logo{
		width: 16em;
		float: right;
		padding: 0px 15px 0px 0px;
	}

	.menu-button{
		margin: 20px 0px 0px 20px;	
		display: inline-block;
		height: 0.6em;
		font-size: 3.4em;
	}

	.menu-active .mobile-menu{
		left: 0px;
	}

	.menu-active:after{
		content: "";
		display: block;

		z-index: 1;
		position: fixed;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;

		background: rgba(0,0,0, 0.3);
	}


	.menu-side-pattern{
	    background-image: url("../images/side-wave-pattern.png");
	    background-repeat: repeat-y;
		float: left;

 	    width: 3.2em;
	    height: 100%;
	}

	.mobile-menu-navigation{
		padding-top: 6.5em; /*same as header-height*/
		float: left;
	}

	.mobile-menu-navigation > ul{
		list-style: none;
	}
	

	.mobile-menu-navigation > ul > li{
		list-style: none;
		padding-top: 30px;
	}

	.mobile-menu-item{
		font-style: normal;
		font-family: 'futura-bk', sans-serif;
		font-size: 1.6em;

		text-transform: uppercase;
		color: #BCD0C2;
	}
	.mobile-menu-contact{
		float: left;
		margin-left: 70px;
		width: 270px;
		position: fixed;
		padding-bottom: 20px;
		bottom: 0px
	}

	.social-icon{
		display: inline-block;
		width: 3.0em;
		margin-left: 0.38em;
		margin-bottom: 10px;
	}
	.social-networks{
		width: 15em;
		margin: 0 auto;
	}

	.mobile-menu-email{
		font-style: normal;
		font-weight: bold;
		font-family: 'futura-bk', sans-serif;
		font-size: 0.9em;
		color: #BCD0C2;

	}
}


@media (min-width: 360px){
	.logo{
		width: 18em;
	}

	.social-icon{
		width: 3.5em;
		margin-left: 0.39em;
		margin-bottom: 10px;
	}
	.social-networks{
		width: 15em;
		margin: 0 auto;
	}

	.mobile-menu-email{
		font-size: 1.1em;

	}

	.mobile-menu-item{
		font-size: 1.8em;
	}

	.menu-button{
		font-size: 3.8em;
	}

}


@media (min-width: 768px){
	.logo{
		width: 18em;
	}

	.social-icon{
		width: 3.5em;
		margin-left: 0.39em;
		margin-bottom: 10px;
	}
	.social-networks{
		width: 15em;
		margin: 0 auto;
	}

	.mobile-menu-email{
		font-size: 1.1em;

	}

	.mobile-menu-item{
		font-size: 1.8em;
	}

	.menu-button{
		font-size: 3.8em;
	}

}
@media not all and (max-width: 1025px){
	.menu-open, 
	.menu-close {
		display: none;
	}
}

/* Desktop */

@media (min-width: 1024px){

	.header{
		background: transparent;
		width: 99.80%; /* Wesley*/
		position: relative;
		height: 100%;
		}
	
	.top-pattern{
	    background-image: url("../images/top-wave-pattern.png");
	    background-repeat: repeat-x;
		width: 100%;
		position: relative;
		height: 3.4em;
	}

	.logo{
		width: 18em;
		margin-top: 0.1em;
		margin-right: 1em;
		position: absolute;
		right: 0px;
		top: 2.8em;
		float: none;
	}

	.menu{
		display: block;
		width: 25em;
		list-style: none;
		width: 30em;
		margin: 0 auto;
		text-align: center;
		display: block;
	}

	.menu > ul{
		padding: 0px;
	}

	.menu-item{
		display: inline-block;
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		list-style: none;
		font-family: 'futura-bk', sans-serif;
		margin: 0 5px;

	}


}

@media (min-width: 1368px){

	.header{
		background: transparent;
		width: 99.80%; /* Wesley*/
		position: relative;
		height: 100%;
		}
	
	.top-pattern{
	    background-image: url("../images/top-wave-pattern.png");
	    background-repeat: repeat-x;
		width: 100%;
		height: 3.4em;
	}

	.logo{
		width: 18em;
		margin-top: 0.1em;
		margin-right: 1em;
		position: absolute;
		right: 0px;
		top: 5em;
		float: none;
	}

	.menu-item{
		margin: 0 20px;
	}


}

/* Desktop */

@media (min-width: 1600px){

	.logo{
		width: 26em;
	}


}
