body {
    overflow:hidden;
}

.clearfix{
	overflow: auto;
}
a{
	text-decoration: none ;
}
a:hover{
    color:white;
    text-decoration:none;
    cursor:pointer;
}

@font-face{
	font-family: "3x3dots";
	src: url("../fonts/3x3dots.ttf") format("truetype");
}

@font-face{
	font-family: "futura-bk";
	src: url("../fonts/futura-bk.otf") format("opentype");
}

@media(min-width: 320px){
	.background-image{
		background: url("../images/background-picture-mobile.png") center center no-repeat; 
		background-size: cover;
		z-index: -5;
	}

	.upper-corner-pattern{
		display: none;
	}
}

@media(min-width: 1024px){
	.background-image{
		background: url("../images/background-picture.jpg") center center no-repeat; 
		background-size: cover;
		width: 100%;
		height: 100%;
		z-index: -5;
	}

}



@media(min-width: 1600px){
	.background-image{
		background: url("../images/background-picture.jpg") center center no-repeat; 
		background-size: cover;
		transition: background 1s linear;
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
	}

}
 	