.portfolio-fade{
	transition: opacity 1s ease-in;
	opacity: 0;
}

@media ( min-width: 320px){
	.portfolio-project-placeholder{
		width: 350px;
		display: block;
		margin: 20px auto 0px;
	}	

	.portfolio-project-0{
		width: 18em;
		display: block;
		margin: 10px auto 0px;
		border: 3px solid white;
		border-radius: 3px;
	}

	.portfolio-project-1{
		width: 18em;
		display: block;
		margin: 10px auto 0px;
		border: 3px solid white;
		border-radius: 3px;
	}
	.portfolio-project-2{
		width: 18em;
		display: block;
		margin: 10px auto 0px;
		border: 3px solid white;
		border-radius: 3px;

	}
	.portfolio-project-3{
		width: 18em;
		display: block;
		margin: 10px auto 0px;
		border: 3px solid white;
		border-radius: 3px;
	}

	.portfolio-title{
		color: #FFFFFF;
		text-align: center;
		text-transform: uppercase;
		font-family: 'futura-bk', sans-serif;
	}	

	.portfolio{
		padding-top: 6.5em; /*same as header-height*/
		width: 100%;
	}
}

@media ( min-width: 360px){
	.portfolio-project-placeholder{
		width: 350px;
		display: block;
		margin: 20px auto 0px;
	}	

	.portfolio-project-1{
		width: 20em;
		display: block;
		margin: 10px auto 0px;
		border: 3px solid white;
	}
	.portfolio-project-2{
		width: 20em;
		display: block;
		margin: 10px auto 0px;
		border: 3px solid white;
	}
	.portfolio-project-3{
		width: 20em;
		display: block;
		margin: 10px auto 0px;
		border: 3px solid white;
	}
}



@media (min-width: 1024px){
	.portfolio-title{
			color: #FFFFFF;
			text-align: left;
			text-transform: uppercase;
			font-size: 3em;
			font-family: 'futura-bk', sans-serif;
			
			position: absolute;
			top: 0px;
			padding-left: 50px;
			margin-bottom: 0px;
			letter-spacing: 7px;
	}	

	.portfolio{
		padding-top: 0;
	}

	.portfolio-images{
		margin: 0 auto;
		width: 100%;
		top: 0px;
		position: relative;
		text-align: center;
	}

	.portfolio-project-0{
		width: 24.5em;
		display: inline-block;
		margin-right: 10px;
	}
	.portfolio-project-1{
		width: 24.5em;
		display: inline-block;
	}
	.portfolio-project-2{
		width: 18.75em;
		display: inline-block;
		margin-right: 10px;
		margin-top: 5px;
	}
	.portfolio-project-3{
		vertical-align: top;
		width: 24.5em;
		display: block;
		margin: 5px auto 0px;
	}

	.arrow-back{
		position: absolute;
		top: 4%;
		left: 1em;
	
		width: 6em;
		display: none;
		opacity: 0;
		transition: opacity 5s ease-in;
	}

	.arrow-left{
		position: absolute;
		top: 45%;
		left: 1em;
	
		width: 4em;
		display: none;
		opacity: 0;
		transition: opacity 5s ease-in;
	}
	.arrow-right{
		position: absolute;
		top: 45%;
		right: 1em;
		
		width: 4em;
		display: none;
		opacity: 0;
		transition: opacity 5s ease-in;
	}

}  


/* Desktop */

@media (min-width: 1600px){
	.portfolio-title{
			color: #FFFFFF;
			text-align: left;
			text-transform: uppercase;
			font-size: 4.3em;
			font-family: 'futura-bk', sans-serif;
			
			position: absolute;
			top: 0px;
			padding-left: 50px;
			margin-bottom: 0px;
			letter-spacing: 7px;
	}	

	.portfolio-images{
		padding-top: 50px;
		margin: 0 auto;
		width: 80%;
		text-align: center;
	}
	
	.portfolio-project-0{
		width: 36.0em;
		display: inline-block;
	}

	.portfolio-project-1{
		width: 28.0em;
		display: inline-block;
	}
	.portfolio-project-2{
		width: 24.25em;
		display: inline-block;
	}
	.portfolio-project-3{
		width: 24.0em;
		display: inline-block;
	}

}